VITE_FIREBASE_API_KEY=AIzaSyCZIDtUteM2MiESDJd35gaKPHX_Ht1zL6s
VITE_FIREBASE_AUTH_DOMAIN=projectchat01-d16bc.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://projectchat01-d16bc-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=projectchat01-d16bc
VITE_FIREBASE_STORAGE_BUCKET=projectchat01-d16bc.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=163313653543
VITE_FIREBASE_APP_ID=1:163313653543:web:a34c117ad6ab7be611bb02
VITE_FIREBASE_MEASUREMENT_ID=G-XVNJLVW2ST
GEMINI_API_KEY=